.story-square{
    &__list-item{
        /* aspect-ratio:1 / 1; */
        /* max-height:10rem; */
    }
    &__link{
        max-height:10rem;
        text-decoration: none;
        display:block;
        &:visited, a:link{
            color:black;
        }
    }
    &__title{
        width:fit-content;
        position:relative;
        top:45%;
        z-index:-1;
    }
    &__image{
        aspect-ratio:1 / 1;
        max-width:100%;
        opacity:1;
        transition: opacity 0.5s ease-in-out;
        &:hover {
            opacity:0;
        }
    }
}