$primaryred: #7b1000;
$secondaryred: #cbacab;
$tertiaryred:#aa7e7d;
$primaryblue: #006b7b;
$secondaryblue:#abc4cc;
$tertiaryblue:#82a5ae;
$quaternaryblue:#003943;
$min-tablet:768px;
$min-desktop:1280px;