@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/breakpoints" as *;
.actual-concept {
  &__list-items {
    list-style: none;
  }
  &__title{
    color:$primaryred;
    margin-left:100px;
  }
  &__text {
    text-wrap: wrap;
    color:$primaryred;
    margin-left:100px;
    margin-right:100px;
    margin-bottom:50px;
    color: $primaryred;
    line-height:2rem;
  }
}
