.storysquares{
    &__subtitle{
        width:70%;
        margin:0 auto;
        text-align:center;
    }
    &__sub-subtitle{
        width:70%;
        margin:1rem auto;
        text-align:center;
    }
}